<p id="notice"><%= notice %></p>

<p>
  <strong>User detail:</strong>
  <%= @parent_detail.User_detail_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @parent_detail.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent_detail.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent_detail.Address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @parent_detail.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent_detail.email %>
</p>

<%= link_to 'Edit', edit_parent_detail_path(@parent_detail) %> |
<%= link_to 'Back', parent_details_path %>
